/* cambio la fuente y pongo la que descargue de google font*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:   linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(C:\Users\Santi\Desktop\imagehttps://scontent.faep9-3.fna.fbcdn.net/v/t39.30808-6/277304929_2158997604275540_9054707038736590885_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=MgtJo8by1RcAX8Gesd0&_nc_ht=scontent.faep9-3.fna&oh=00_AT-xYz9dxhDF6MTGtiG4sZwkYo8IIaZi633zgqdCih7qFw&oe=62439998nes));
    background-position: center;
    background-size: cover;
    position: relative;
}
/* Ubico el logo, lo separe del margen. Le asigne espacio de arriba, izquierda y derecha. Lo alinee*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
/* tamanio del logo*/
nav img{
    width: 150px;
  }
/* Que los links esten a la derecha*/
.nav-links{
    flex: 1;
    text-align: right;
  }
/* para que los links se pongan en fila y sacar los puntitos */
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
/* sacar el subrayado a los links y ponerlos en rojo */
.nav-links ul li a{
    color: rgb(247, 14, 14);
    text-decoration: none;
    font-size: 13px;
}
/* creo linea que va aparecer en los links del menu cuando paso el mouse*/
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
/* lo agrego para que aparesca la linea cuando paso el mouse*/
.nav-links ul li:hover::after{
    width: 100%;
}
/* pongo el texto en el medio de la pagina*/
.text-box{
    width: 90%;
    color: rgb(10, 1, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/* cambio tamanio del titulo*/
.text-box h1{
    font-size: 62px;

}
/*cambio tamanio del texto y margen*/
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(10, 1, 1) 
}
/*todo lo necesario para que el boton se vea asi*/
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#f44336;
    border: 1px solid #f44336;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
/*para que haga efecto cuando paso mouse por boton*/
.hero-btn:hover{
    border: 1px solid rgb(10, 1, 1);
    background: rgb(10, 1, 1);
    transition: 1s;
}
/*para que solo se vean los iconos en el movil*/
nav .fa{
    display: none;
}
/*ajusto texto de titulo para que se vea bien en celu y creo menu con los links que se abre desde costado en celu */
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position:absolute;
        background: rgb(10, 1, 1);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    /*hago visibles los iconos para movil*/
    nav .fa{
        display: block;
        color: #f44336;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/* seccion equipo */
/*el titulo y texto de la nueva seccion, donde lo ubico y como*/
.Equipo{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top: 100px;
}
/*la fuente del texto, su color y caracteristicas*/
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:rgb(10, 1, 1);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 0;
}
/*hago que las columnas de equipo esten una al lado de otra*/
.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
/*cada posicion tiene un fondito*/
.posiciones-col{
    flex-basis: 23%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}
/*letras dentro de las cajitas las separo del titulo de la cajita*/
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
/*pongo para que haga efecto cuando paso el mouse por la cajita*/
.posiciones-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/*para que se vean bien las cajitas en movil*/
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }

}
/*STATS*/
/*ubico en el centro el texto y titulo*/
.stats{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px; 

}
.stats-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position:relative;
    overflow: hidden;
/*para que cuando paso el mouse por la imagen se ponga roja*/
}
.stats-col img{
    width: 100%;    
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
/*cambie el color y caracteristicas del texto en las imagenes*/ 
.layer h3{
    width: 100%;
    font-weight: 500;
    color:#fff;
    font-size: 26px;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;

}