.header{
    min-height: 100vh;
    width: 100%;
    background-image:   linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(C:\Users\Santi\Desktop\imagehttps://scontent.faep9-3.fna.fbcdn.net/v/t39.30808-6/277304929_2158997604275540_9054707038736590885_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=MgtJo8by1RcAX8Gesd0&_nc_ht=scontent.faep9-3.fna&oh=00_AT-xYz9dxhDF6MTGtiG4sZwkYo8IIaZi633zgqdCih7qFw&oe=62439998nes));
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
  }
.nav-links{
    flex: 1;
    text-align: right;
  }
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

}